@tailwind base;
@tailwind components;

@import url('https://fonts.googleapis.com/css?family=Open+Sans&display=swap');

html {
    @apply font-display text-textclr;
}

.small-button {
    @apply cursor-pointer p-1 rounded mx-2 border border-gray-500 text-sm;
}

.small-button:hover {
    @apply border-purple-700
}

.route-chip {
    @apply bg-gray-200 cursor-pointer text-black px-1 rounded-lg mx-1 border-2 text-xs inline-block mt-1
}

.small-input {
    @apply bg-transparent underline appearance-none;
}

input[type=number] {
    -moz-appearance: textfield; /* Firefox */
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.vue-slider-process {
    @apply bg-purple-700 !important;
}

.multiselect__tag {
    @apply bg-purple-700 !important;
}

.multiselect__tag-icon::after {
    @apply text-white !important;
}

.multiselect__tag-icon:hover {
    @apply bg-purple-900 !important;
}

.multiselect__tags {
    @apply bg-transparent !important;
}

.multiselect__option--highlight {
    @apply bg-purple-700 font-bold !important;
}

@tailwind utilities;